<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Make a menu</title>
    </head>
    <body>
        <main>
            <nav>
                <div class="nav_title">menu</div>
                <div class="nav_menu">
                    <li><%= link_to "献立作成・編集","/menu/new",class:"nav_menu_link" %></li>
                </div>
            </nav>
            <article>
            <!--献立カレンダー-->
            <div class="menu_sub_title"><i class="far fa-calendar-alt"></i>  Calendar</div>
                <div class="menu_calender">
                    <%= week_calendar number_of_weeks:4 ,events:@menus do |date,menus| %>
                        <%= date.day %>
                        <% menus.each do |m| %>
                            <li><%= link_to Recipe.find_by(id:m.recipe_id).name ,Recipe.find_by(id:m.recipe_id).address ,class:"calender_recipe_link" %></li>
                        <% end %>
                    <% end %>
                </div>
                <br>
                <br>
            </article>
        </main>
    </body>
</html>