<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>top</title>
</head>
<body> 
  <nav>
    <div class="nav_title">About</div>
  </nav>
  <article>
    <div class="about_title">How to use</div>
        <table class="how_to_use">
          <tr>
            <th>
              <div class="about_sub_title">Recipe</div>
            </th>
            <td>
              <div class="explanation">
                URLを入力して、レシピと材料、買い物リストを登録します。<br>
                レシピの内容は登録後も編集可能です
              </div>
            </td>
          </tr>
          <tr>
            <th>
              <div class="about_sub_title">Menu</div> 
            </th>
            <td>
              <div class="explanation">
                登録したレシピから日付ごとに献立を作成します<br>
                登録した内容はカレンダーで確認できます。
              </div>
            </td>
          </tr>
          <tr>
            <th>
              <div class="about_sub_title">Shopping</div>
            </th>
            <td>
              <div class="explanation">
                事前に日付毎に献立を作成して買い物リストを作成したい日付を選択し、<br>
                リストを作成します。リストは作成後も編集可能です 
              </div>
            </td>
          </tr>
        </table>
  </article>
</body>
</html>