<!DOCTYPE html>
<html>
  <head>
    <title>Menutable</title>
    <meta name="viewport" content="widtr=device-widtr,initial-scale=1">
  </head>
  <body>
    <main>
      <div class="information">
        <div class="index_title">Menutable</div>
          <table class="login_menu">
            <tr>
              <td><%= link_to '/users/login_form',class:'login_link' do %><i class="fas fa-sign-in-alt"></i> ログイン<%end%></td>
            </tr>
            <tr>
              <td><%= link_to '/users/new_account', class:'login_link' do %><i class="fas fa-user-circle"></i> アカウント登録<%end%></td>
            </tr>
          </table>
      </div> 
    </main>
  </body>
</html>

