<!DOCTYPE html>
<html lang="ja">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload'%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menutable</title>
</head>
<body>
  <main>
    <div class="index">
      <div class="index_title">menutable</div>
        <table class="login_menu">
          <tr>
            <td><%= link_to '/users/login_form',class:'login_link' do %><i class="fas fa-sign-in-alt"></i> ログイン<%end%></td>
          </tr>
          <tr>
            <td><%= link_to '/users/new', class:'login_link' do %><i class="fas fa-user-circle"></i> アカウント登録<%end%></td>
          </tr>
        </table>
    </div> 
  </main>
</body>
</html>
