<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>top</title>
</head>
<body>
  <main>  
    <nav>
      <div class="nav_title"><h1>About</h1></div>
    </nav>

    <article>
      <div class="top_title">How to use</div>
        <div class="instructions">
          <table> 
              <tr>
                <td>
                  <b>レシピの登録と検索</b>
                </td>
              </tr>
              <tr>
                <td>
                  レシピの材料、分量を登録。URLから自動入力もできます。
                </td>
              </tr>
              <tr>
                <td>
                  <b>１週間の献立決め</b>
                </td>
              </tr>
              <tr>
                <td>
                  　登録されたレシピを組み合わせて１週間の献立をリスト化。
                </td>
              </tr>
              <tr>
                <td>
                  <b>買い物リストの作成</b>
                </td>
              </tr>
              <tr>
                <td>
                  　１週間の献立別に買い物リストを自動作成。
                </td>
              </tr> 
          </table>
        </div>
    </article>
  </main>
</body>
</html>