<!DOCTYPE html>
<html>
    <head>
        <title>Menutable</title>
        <meta name="viewport" content="widtr=device-widtr,initial-scale=1">
    </head>
    <body>
        <main>
            <div class="information">
                <div class="unauthenticated_title">No account</div>
                <p class="unauthenticated_text">
                    アカウント情報が確認できませんでした。<br>
                    アカウント登録がお済みの方はログインしてください。<br>
                    アカウント登録されていない方はアカウント登録をお願いいたします。
                </p>
                <%= link_to '/',class:'top_link' do %>top<%end%>
            </div> 
        </main>
    </body>
</html>