$color: #038C25;;
@mixin centered {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

//メニュー登録[new]

//メニュー登録ページ
.recipe_new_table {
    @include centered;
    background: #F9F9F9;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: .3s;
        &.hidden {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        }
}
    //メニュー登録タイトル
    .title_newrecipe {
        background: $color;
        margin: 0;
        padding: 8px;
        color: white;
        font: 300 20px Roboto;
        text-align: center;
        
        span {
        display: block;
        width: 26px; 
        height: 26px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        transition: .2s;    
        &:hover {
            background-color: rgba(white, .2);     }
        }
    }

//メニュー登録フォーム    
.create_recipe_form {
    width: 250px;
    margin: 40px auto;
    position: relative;
}
    //入力フォーム
    .create_recipe_input {
        background: linear-gradient(to bottom, transparent 95%, $color 5%) no-repeat;
        background-position: -300px 0;
        background-size: 300px 100%;
        display: block;
        width: 250px;
        padding: 5px 0;
        margin-top: 30px;
        border: none;
        border-bottom: solid 1px $color;
        font-size: 15px;
        transition: all 0.3s;
        
        // Stop that awful pale yellow background on webkit auto-fill
        &:focus, &:valid {
            background-position: 0 0;
            outline: none;
            
            ~label {
            top: -12px;
            color: $color;
            font: 700 12px Roboto;
            }
        }
    }
    //メニュー登録ボタン
    .create_recipe_btn {
        display: block;
        background: $color;
        width: 250px;
        height: 50px;
        margin: 40px 0 5px 0;
        border: none;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover { 
            transform: translateY(-3px);
        }
    }
    //注意事項
    .create_recipe_attention {
        color:crimson;
        font-size: 20px;
        width: 200px;
        margin: 20px auto; 
    }

// 材料登録１[show_food_choices]

//材料登録ページ
.new_ingredients_table {
    @include centered;
    background: #F9F9F9;
    width: 70%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
    overflow: scroll;
    transition: .3s;
    &.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
    }
}

//材料登録フォーム
.choose_ingredients {
    border-collapse: collapse;
    width: 50%;
    margin: 30px auto;

    //material登録フォームテーブル見出し
    & th {
        color: #A66D03;/*文字色*/
        background:  rgba(214,164,4,0.6);/*背景色*/
        padding: 6px 10px;
    }
    //material登録フォームテーブルタブ
    & td {
        padding: 6px 10px;
    }
}
    .foodname {
        font-size: 15px;
    }

//材料登録ボタン,材料追加ボタン
.create_material_btn , .add_material_btn{
    display: block;
    background: $color;
    width: 300px;
    height: 25px;
    margin: 5px auto;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover { 
        transform: translateY(-3px);
    }
}
//材料登録2[show_food_choices_by_category]

//材料リストの追加
.add_material {
    width: 300px;
    margin: 10px auto;
    position: relative;
    text-align:center;
    }
    //材料追加登録のカテゴリーセレクト
    .listing-select-wrapper__box--select{
        width: 300px;
        height: 25px;
        margin: 8px auto;
        padding: 1px;
        border-color:#038C25;
        text-align:center;
        background:#fff;
    }

//登録内容の確認ボタン
.recipe_show_link {
    width:180px;
    margin:0 auto;
    padding:2px 5px;
    border: solid 3px rgba(20, 173, 89, 0.541);
    border-radius: 10px;
    text-align:center
}
    .recipe_show_link:hover {
        background: rgba(20, 173, 89, 0.541);
    }


