$base_font: "丸明オールド";
$color: #6fefc147;
$font-color: #5F5F5F;

//---- recipe_edit_recipe-----

.update_recipe_form {
    display: block;
    color: $font-color;
    width: 80%;
    margin: 5% auto;
        & td {
            padding: 1% 10%;
        }
}
    .update_recipe_label {
        font: 800 2vmin $base_font;
    }

    .update_recipe_input {
        background: linear-gradient(to bottom, transparent 95%) no-repeat;
        background-position: -300px 0;
        background-size: 100%;
        display: block;
        width: 100%;
        padding: 2% 0;
        border: none;
        border-bottom: dotted 0.5px #808080;
        font: 200 2vmin $base_font;
        color: $font-color;
        transition: all 0.3s;
        &:focus, &:valid {
            background-position: 0 0;
            outline: none;
            
            ~label {
            top: -12px;
            color: $color;
            font: 200 2vmin $base_font;
            }
        }
    }

//材料の編集
.edit_material{
    background: #ffffff;
    font:100 2vmin $base_font;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
    transition: .3s;
    margin: 5% auto; 
}
    .main_contents {
        height:90%;
        overflow: scroll;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display:none;
        }
    }
    .sub_title {
        color: $font-color;
        font: 400 3vmin $base_font;
        width: 60%;
        margin: 3% 10%;
    }

//材料編集テーブル
.edit_material_form {
    width: 80%;
    margin: 3% auto;
    border-collapse: collapse;
    & th {
        font:500 2vmin $base_font;
        color: #098402;
        padding: 2px 0;
    }
    & td {
        font:200 2vmin $base_font;
        color: $font-color;
        text-align: center;
        padding: 2px 0;
    }
}
    //編集入力フォーム
    .edit_material_input {
        display: block;
        width: 80%;
        margin: 2% auto;
        border: none;
        border-bottom: dotted 0.5px #808080;
        font:200 2vmin $base_font;
        color: $font-color;
        transition: all 0.3s;
        &:focus, &:valid {
            background-position: 0 0;
            outline: none;
            ~label {
            top: -12px;
            color: $color;
            font: 700 12px Roboto;
            }
        }
    }
    //削除変更ボタン
    .material_delete_btn ,.update_material_btn {
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 1.6em;
        border: none;
        background: none;
        color: $font-color;
        outline : none;
        display: inline-block;
        vertical-align: middle;
    }

// 材料追加フォーム
.edit_add_material {
    width: 50%;
    margin: 2% auto;
    text-align: center;
}
    //材料追加登録のカテゴリーセレクトBOX
    .listing-select-wrapper__box--select{
        width: 180px;
        height: 25px;
        margin: 3% auto;
        padding: 1px;
        border-color:#038C25;
        border-radius: 3px;
        text-align:center;
        background:#fff;
    }
    .edit_add_material_input {
        display: inline-block;
        width: 200px;
        padding: 5px 0;
        margin: 3% auto;
        border: none;
        border-bottom: dotted 0.5px #808080;
        font-size: 15px;
        transition: all 0.3s;
        &:focus, &:valid {
            background-position: 0 0;
            outline: none;
            
            ~label {
            top: -12px;
            color: $color;
            font: 700 12px $base_font;
            }
        }
    }
    