// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base_font: Times, "Times New Roman", Georgia, serif;
$color: rgba(111, 239, 193, 0.28);
$font-color: #5F5F5F;

.about_title {
    font:100 34px $base_font;
    color: $font-color;
    width: 25%;
    text-align: center;
    margin: 1% auto;
}

.how_to_use {
    width: 70%;
    height: 300px;
    margin: 5% auto;
    & th {
        width: 25%;
        height: 33%;
        background-color: rgba(72, 155, 125, 0.295);
        border-radius: 5%;
    }
    & td {
        width: 75%;
        height: 33%;
        padding-left: 5%;
    }
}

.about_sub_title {
    font:100 30px $base_font;
    color: $font-color;
}

.explanation {
    font:100 16px $base_font;
    color: $font-color;
}