// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base_font: "丸明オールド";
$color: rgba(111, 239, 193, 0.28);
$font-color: #5F5F5F;


.top_title {
    color: $font-color;
    font: 900 3vw $base_font;
    margin: 3%;
}

.instructions {
    margin: 5%;
    color: $font-color;
    font: 100 1vw $base_font;
}
