// Place all the styles related to the meal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.meal_calender {
    width: 1000px;
    margin: 0px 200px;
}

.how_to_register {
    text-align: center;
}

.recipe_search {
    text-align: center; 
    width: 500px;
    margin: 0px auto;
}

.meal_select {
    width: 1000px;
    margin: 0px auto;
}