// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base_font1: fantasy;
$base_font2: "游ゴシック体";
$color: #038C25;
$font-color:rgba(109, 109, 109, 0.877);

@mixin centered {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.menu_sub_title {
    color: #606060;
    font-family: $base_font1;
    font-size: 40px;
    font-weight: 800;
    width: 300px;
    margin: 50px 50px;
}

//献立カレンダー
.menu_calender {
    width: 80%;
    max-height:30%;
    margin: 50px auto;
    color: $font-color;
    font-family: $base_font1 or $base_font1;
    list-style-type: none!important;/*ポチ消す*/
}
    .calender_recipe_link {
        font-size:12px;
        &:hover {
            border-bottom: 2px solid $font-color;
        }
    }

//献立作成ページ,編集ページ
.new_menu , .edit_menu {
    @include centered;
    background: #F9F9F9;
    width: 40%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
    position: fixed;
    transition: .3s;
        &.hidden {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        }
}
    //タイトル
    .title_new_menu , .title_edit_menu{
        background: $color;
        margin: 0;
        padding: 8px;
        border-radius: 10px 10px 0 0;
        color: white;
        font: 900 25px $base_font1;
        text-align: center;
        
        span {
        display: block;
        width: 26px; 
        height: 26px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        transition: .2s;    
        &:hover {
            background-color: rgba(white, .2);     }
        }
    }

//検索と登録
.search_and_registration_form {
    height:450px;
    overflow: scroll;
}
    .how_to_register {
        color: $font-color;
        font-size: 15px;
        font-family:$base_font2;
        margin: 10px 50px;
        text-align: center;
    }
    //検索
    .recipe_search {
        width: 300px;
        margin: 10px auto;
    }
        .recipe_search_field {
            color:$font-color;
            border: 1px solid #999;
            padding: 3px 5px;
            border-radius: 15px;
            height: 2.0em;
            width: 245px;
            overflow: hidden;
            text-align: center;
            &:focus {
                outline: 0;
              }              
        }
        .search_btn , .menu_delete_btn{
            cursor: pointer;
            font-family: FontAwesome;
            font-size: 1.3em;
            border: none;
            background: none;
            color: $color;
            outline : none;
            display: inline-block;
            vertical-align: middle;
        }

    //登録,削除
    .menu_select {
        font-size: 15px;
        width: 600px;
        margin: 50px auto;
    }
        .select_date {
            color: $font-color;
            border: 1px solid #999;
            padding: 3px 5px;
            border-radius: 10px;
            height: 2.0em;
            width: 150px;
            overflow: hidden;
            &:focus {
                outline: 0;
              }              
        }

        .create_new {
            cursor: pointer;
            font-family: FontAwesome;
            font-size: 1.7em;
            border: none;
            background: none;
            color: $color;
            outline : none;
            display: inline-block;
            vertical-align: middle;
        }

//献立カレンダー
.determined_calendar {
    position: fixed;
    height: 120px;
    width: 950px;
}
    .calender_title{
        font-size: 900 15px $base_font2;
        color: $font-color;
        text-align: center;
        margin: 5px;
    }

    .edit_menu_calender {
        font-size: 8px;
        max-height: 30%;
        width: 80%;
        margin: 0 auto; 
        color: $font-color;
        list-style-type: "";/*none!important;/*ポチ消す*/
    }

.select_day {
    width: 40%;
    margin: 30px  auto;
}    

.edit_menu_list {
    width: 500px;
    margin:10px auto ;
    font: 100 15px $base_font2;
    color: $font-color;
}

.menu_day {
    width: 300px;
    margin: 10px auto;
    font: 800 22px $base_font2;
    color: $font-color;
}
