// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@use '_create_recipe';
@use '_edit_recipe'; 

$base_font: "丸明オールド";
$color: #6fefc147;
$font-color: #5F5F5F;

//-----recipe_index----
//検索フォーム
.search_form {
    width: 60%;
    margin: 0 auto;
    padding: 1% 0;
    text-align: center;
}
    //ラベル
    .recipe_label{
        color: $font-color;
        font: 800 2vmin $base_font; 
        display: inline;
    }
    //入力フォーム
    .search_input {
        display: inline;
        width: 30%;
        padding: 2% 0;
        margin: 5%;
        border: none;
        border-bottom: dotted 1px $font-color;
        font-size: 2vmin;
        transition: all 0.3s;
        &:focus, &:valid {
            background-position: 0 0;
            outline: none;
            
            ~label {
            top: -12px;
            color: $color;
            font: 700 2vmin $base_font;
            }
        }
    }
    //検索ボタン
    .search_submit {
        font-family: FontAwesome;
        font-size: 3vmin;
        border: none;
        background: none;
        color: rgba(78, 154, 126, 0.852);
        outline : none;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }

//検索結果のリスト
.search_recipeslist,.all_recipeslist {
    color: $font-color;
    font: 100 2vmin $base_font ;
    width: 80%;
    margin: 0 auto;
}
    .search_recipeslist td ,.all_recipeslist td {
        padding: 0.5%;
    }
    .recipes_link {
        text-decoration:none; 
        &:hover {
            padding: 0.5%;
            background-color: rgba(152, 154, 154, 0.549);
        }
    }

//---- recipe_show -----
//編集、削除のリンク
.recipe_settings{
    width: 100%;
    margin: 1%;
    padding: 2%;
}
    .recipe_settings li {
        position:relative;
        display: inline;
        color: #4e9a7e;
        line-height: 2em;
        margin: 3% 0%;
    }
        .recipe_settings_link {
            padding: 1% 2%;    
            text-decoration:none;
            background-color: $color;
            border-radius: 3px;
            &:hover{
                background-color: #FFFFFF;
            }
        }

.recipe_detail{
    width: 70%;
    margin: 0 auto;
}
    .recipe_detail h2 {
        margin: 5% 0 3% 10%;
        font: 500 3vmin $base_font;
        color: $font-color;
        text-align: center;
    }
    .recipe_detail_table {
        width: 60%;
        margin: 2% auto 4% auto; 
        & th {
            font: 600 2vmin $base_font;
            color:  #4e9a7e;
            padding: 3%;
        }
        & td {
            font: 200 2vmin $base_font;
            color: $font-color;
            text-align: center;
        }
    }

.show_section {
    width: 48%;
    margin: 0 auto;
    display: inline-block;
}

.list_title {
    width: 55%;
    font: 800 2vmin $base_font;
    color: $font-color;
    text-align: center;
    margin: 2% auto;
}

//材料
.materials_list {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 10% 8%;
    font-size: 2vmin;
    & th {
        color: white;/*文字色*/
        background:rgba(78, 154, 126, 0.852);
        padding: 3% 5%;
    }
    & td {
        padding: 3% 5%;
        font: 200 2vmin $base_font;
        text-align: center;
    }
}
