// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@use '_create_recipe'; //レシピ・リスト登録
@use '_edit_recipe'; //レシピ・リスト編集

$base_font1: fantasy;
$base_font2: "游ゴシック体";
$color: #038C25;
@mixin centered {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}                

//article
//-----recipe_index----
//検索フォーム
.search_form {
    width: 600px;
    margin: 0px auto;
    padding: 50px 0px;
}
    //ラベル
    .recipe_label{
        font-family: fantasy; //文字種類
        font-size: 20px; //文字の大きさ
        display: inline;
    }
    //入力フォーム
    .search_input {
        display: inline;
        background: linear-gradient(to bottom, transparent 95%, $color 5%) no-repeat;
        background-position: -300px 0;
        background-size: 300px 100%;
        width: 250px;
        padding: 5px 0;
        margin: 30px 20px 5px 20px;
        border: none;
        border-bottom: solid 1px $color;
        font-size: 20px;
        transition: all 0.3s;
        &:focus, &:valid {
            background-position: 0 0;
            outline: none;
            
            ~label {
            top: -12px;
            color: $color;
            font: 700 12px Roboto;
            }
        }
    }
    //検索ボタン
    .search_submit {
        display: inline;
        background: $color;
        width: 100px;
        height: 25px;
        margin: 15px auto;
        border: solid 1px $color;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        color: white;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover { 
            transform: translateY(-3px);
        }
    }

//検索結果のリスト
.search_recipeslist , .all_recipeslist {
    width: 800px;
    margin: 0 auto;
}

//---- recipe_show -----
//編集、削除のリンク
.recipe_settings{
    width: 150px;
    margin: 100px 30px 50px 0px;
    padding: 5px;
}
    .recipe_setting ul {
        counter-reset:list;
        list-style-type:none;
        font: 14px/1.6 'arial narrow', sans-serif;
        padding:0;
    }
    .recipe_settings li {
        position:relative;
        color: #333;
        padding: 0 0 0 10px;
        line-height: 30px;
        border-bottom: dashed 1px #ccc;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
        margin: 10px 0px;
        list-style-type: "≫";/*none!important;/*ポチ消す*/
    }
        .recipe_settings_link {
            padding: 7px 10px;    
        }
            .recipe_settings_link:hover{
                background-color: rgba(8, 124, 76, 0.685);
                border-radius: 100px;
                color:#FFF;
            }

//レシピ詳細
.recipe_detail{
    width: 80%;
    margin: 0 auto;
}
    .recipe_detail h2 {
        margin: 50px 0 10px 0;
        font-size:  25px;
        text-align: center;
        font-family: "游ゴシック体";
    }
    .recipe_detail_table {
        width: 500px;
        margin: 0 auto;
    }
        .recipe_detail_table th {
            font-size: 18px;
            padding: 20px 15px 10px 15px;
        }
        .recipe_detail_table td {
            font-size: 18px;
            text-align: center;
        }

//分量リスト
.lists {
    width:100%;
    margin:0 auto ;
}
    //分量テーブル
    .materials_list {
        border-collapse: collapse;
        width: 400px;
        margin: 7px auto;
        }
        .materials_list th {
            color: white;/*文字色*/
            background: $color;/*背景色*/
            padding: 5px 10px;
        }
        .materials_list td {
            padding: 5px 15px;
        }

