// Place all the styles related to the shopping controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base_font1: fantasy;
$base_font2: "游ゴシック体";
$color: #038C25;
$font-color:rgba(109, 109, 109, 0.877);

@mixin centered {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.create_shopping_list {
    @include centered;
    background: #F9F9F9;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
    position: fixed;
    transition: .3s;
        &.hidden {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        }
}
    //タイトル
    .section_title{
        background: $color;
        border-radius: 10px 10px 0 0;
        margin: 0;
        padding: 8px;
        color: white;
        font: 900 3vmin $base_font1;
        text-align: center;
        
        span {
        display: block;
        width: 26px; 
        height: 26px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        transition: .2s;    
        &:hover {
            background-color: rgba(white, .2);     }
        }
    }

    .description {
        width: 40%;
        margin : 3% auto;
        font: 100 2vmin $base_font2;
        color: $font-color;
    }

    .calender_recipe_name{
        font: 200 1vmin $base_font2 ;
    }

    .form_shopping_list {
        width: 45%;
        margin: 5% auto;
    }
        .create_btn {
            cursor: pointer;
            font-family: FontAwesome;
            font-size: 2.0em;
            border: none;
            background: none;
            color: $color;
            outline : none;
            display: inline-block;
            vertical-align: middle;
        }
    
    .menu_calendar_shopping_list_creation {
        width:90%;
        margin: 10% auto;
        color:$font-color;
        font-size: 2vmin;
        font-family: $base_font1 or $base_font1;
        list-style-type: none!important;/*ポチ消す*/
    }
        .recipe_link {
        font-size: 1vmin;
        &:hover {
            border-bottom: 2px solid $font-color;
        }
    }

    .check_shopping_list{
        width: 80%;
        margin: 50px 0 0 50px;
    }

    .sub_title {
        width: 60%;
        margin: 3% 0;
        font: 900 5vmin $base_font1;
        color: $font-color;   
    }

    .index_description {
        margin: 10px 0;
        font: 100 15px $base_font2;
        color: $font-color;
    }

    .sub_title_shopping_list {
        width: 60%;
        margin: 3% 0 0 0 ;
        font: 900 5vmin $base_font1;
        color: $font-color;
        display: inline-block;
    }

    .show_shopping_list {
        margin: 5% 7%;
    }
        .shoppinglist_date {
            width: 80%;
            margin: 2% auto;
            font: 100 4vmin $base_font1;
            color: $font-color;

        }
        .shopping_list {
            margin: 2% 5%;
            width: 60%;
            font: 300 18px $base_font2;
            color: $font-color;
            & th {
                padding: 2% 3%;
            }
            & td {
                padding: 2% 3%;
            }

        }

        .setting {
            display: inline-block;
            position: relative;
            right: 5%;
            top: 30%;
        }
        .shopping_list_settings {
            color: $font-color;
            display: flex;
            height: 1rem;
            margin: 1% 5%;
            padding:3% 5%;
            width: 100%;
            border-radius: 5px;
            text-align: center;
        }
        /*全てのリスト・リンク共通*/
        .shopping_list_settings li {
            list-style: none;
            position: relative;
        }
        .shopping_list_settings li a {
            background: rgba(65, 155, 13, 0.39);
            border-radius: 3px;
            color:$font-color;
            display: block;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 5% 10%;
        }
        .shopping_list_settings li li {
            height: 0;
            overflow: hidden;
            transition: .3s;
        }
        .shopping_list_settings li li a {
            border-top: 2px solid #eee;
        }
        .shopping_list_settings li:hover > ul > li {
            height: 2rem;
            overflow: visible;
        }

    .edit_shopping_list {
        @include centered;
        background: white;
        width: 900px;
        height: 700px;
        border-radius: 10px;
        box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
        position: fixed;
        transition: .3s;
            &.hidden {
            visibility: hidden;
            opacity: 0;
            transform: translateY(-100px);
            }
    }
        //タイトル
        .section_title{
            background: $color;
            border-radius: 10px 10px 0 0;
            margin: 0;
            padding: 8px;
            color: white;
            font: 900 25px $base_font1;
            text-align: center;
            
            span {
            display: block;
            width: 26px; 
            height: 26px;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            right: 7px;
            cursor: pointer;
            transition: .2s;    
            &:hover {
                background-color: rgba(white, .2);     }
            }
        }

        section {
            height: 650px;
            overflow: scroll;
        }
    
    .edit_sub_title {
        width: 40%;
        margin: 3% auto;
        color: $font-color;
        font: 600 4vmin $base_font1;
    }

    .edit_shopping_list_form {
        width: 450px;
        margin:10px auto;
        color: $font-color;
        font-size: 17px;
        font-family: $base_font1;
    }
        .shopping_seasonings {
            padding: 2% 0;
        }

        .amount_form {
            width: 100px;
            padding: 5px 0;
            margin: 10px auto;
            border: none;
            border-bottom: dotted 0.5px #808080;
            font-size: 17px;
            transition: all 0.3s;
            &:focus, &:valid {
                background-position: 0 0;
                outline: none;
                
                ~label {
                top: -12px;
                color: $color;
                font: 700 12px Roboto;
                }
            }
        }

        .edit_form_btn {
            cursor: pointer;
            font-family: FontAwesome;
            font-size: 1.2em;
            border: none;
            background: none;
            color: $color;
            outline : none;
            display: inline-block;
            vertical-align: middle;
        }
    
    
    .add_shoppinglist {
            width: 400px;
            margin: 10px auto 40px auto;
    }
        .add_shopping_list_btn {
            cursor: pointer;
            font-family: FontAwesome;
            font-size: 1.8em;
            border: none;
            background: none;
            color: $color;
            outline : none;
            display: inline-block;
            vertical-align: middle;
        }

    .decision {
        display: block;
        color: $color;
        font-size: 22px;
        font-family: $base_font1;
        text-align: center;
        width: 200px;
        padding: 5px 7px;
        margin: 30px auto;
        &:hover {
            background-color: #038c2541;
            border-radius: 10px;
            }
    }

    .shopping_select_date {
        color: $font-color;
        border: 1px solid #999;
        padding: 3px 5px;
        border-radius: 10px;
        height: 2.0em;
        width: 35%;
        overflow: hidden;
        &:focus {
            outline: 0;
            }
    }
    