// Place all the styles related to the shopping controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base_font: Times, "Times New Roman", Georgia, serif;
$color: rgba(111, 239, 193, 0.28);
$font-color: #5F5F5F;

.shopping_search_btn {
    cursor: pointer;
    font:100 16px FontAwesome;
    color: $font-color;
    border: none;
    background: none;
    outline : none;
    display: inline-block;
    vertical-align: middle;
}

.create_shopping_list {
    background: #ffffff;
    font:100 16px $base_font;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
    transition: .3s;
    margin: 5% auto;
}

    .central_part {
        margin: 2% auto;
    }
    .description {
        width: 30%;
        margin : 1% auto;
        font: 100 16px $base_font;
        color: $font-color;
        text-align: center;
    }

    .form_shopping_list {
        width: 45%;
        margin: 2% auto;
        text-align: center;
    }
        .create_shoppinglist_btn {
            cursor: pointer;
            font: 200 25px FontAwesome;
            color: $font-color;
            border: none;
            background: none;
            outline : none;
            display: inline-block;
            vertical-align: middle;
        }
    
    .menu_calendar_shopping_list_creation {
        display: inline-block;
        width: 80%;
        margin: 1% 10% 10%;
        font:200 10px $base_font;
        color:$font-color;
        list-style-type: none!important;
    }
        .recipe_link:hover {
            border-bottom: 1px solid $font-color;
        }

    .check_shopping_list{
        width: 80%;
        margin: 50px 0 0 50px;
    }

    .index_description {
        margin: 10px 0;
        font: 100 15px $base_font;
        color: $font-color;
    }

    .show_shopping_list {
        width: 60%;
        margin: 2% auto;
    }
        .sub_title_shopping_list {
            width: 80%;
            margin: 3% 0 0 ;
            font: 500 24px $base_font;
            color: $font-color;
            display: inline-block;
        }
        .shoppinglist_date {
            width: 70%;
            margin: 2% auto;
            font: 100 16px $base_font;
            color: $font-color;
            text-align: center;

        }
        .shopping_list {
            margin: 2% auto;
            width: 60%;
            font: 300 16px $base_font;
            color: $font-color;
            & th {
                padding: 2% 1%;
            }
            & td {
                padding: 2% 1%;
            }
        }

        .setting {
            float: right;
        }
        .shopping_list_settings {
            color: $font-color;
            display: flex;
            height: 1rem;
            margin: 1% 5%;
            padding:3% 5%;
            width: 100%;
            border-radius: 5px;
            text-align: center;
        }
        .shopping_list_settings li {
            list-style: none;
            position: relative;
        }
        .shopping_list_settings li a {
            background: rgba(65, 155, 13, 0.39);
            color:$font-color;
            display: block;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 3% 10%;
        }
        .shopping_list_settings li li {
            height: 0;
            overflow: hidden;
            transition: .3s;
        }
        .shopping_list_settings li li a {
            border-top: solid 2px #eee;
        }
        .shopping_list_settings li:hover > ul > li {
            height: 2.5rem;
            overflow: visible;
        }

    .shopping_list_btn{
        cursor: pointer;
        font:100 16px $base_font;
        color: $font-color;
        text-align: center;
        outline : none;
        display: block;
        width: 30%;
        padding: 3% auto;
        margin: 3% auto;
        border: none;
        border-radius: 10px;
        background: rgba(78, 154, 126, 0.356);
    }

    .edit_shopping_list {
        background: #F9F9F9;
        font:100 16px $base_font;
        width: 70%;
        height: 80%;
        border-radius: 10px;
        box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
        transition: .3s;
        margin: 0 auto;
    }
    
    .edit_sub_title {
        width: 40%;
        margin: 3% auto;
        color: $font-color;
        font: 500 25px $base_font;
        text-align: center;
    }

    .edit_shopping_list_form {
        width: 70%;
        margin: 2% auto;
        font:200 1em $base_font;
        color: $font-color;
        & th{
            color: rgba(65, 155, 13, 0.881);
        }
    }

        .shopping_seasonings {
            padding: 2% 0;
        }

        .shopping_amount_form {
            display: inline-block;
            width: 150px;
            padding: 3px 0;
            margin: 1% auto;
            border: none;
            border-bottom: dotted 0.5px #808080;
            font-size: 16px;
            transition: all 0.3s;
            &:focus, &:valid {
                background-position: 0 0;
                outline: none;
                ~label {
                top: -12px;
                color: $color;
                font: 300 16px $base_font;
                }
            }
        }

        .edit_form_btn {
            cursor: pointer;
            font-family: FontAwesome;
            font-size: 1.2em;
            border: none;
            background: none;
            color: $font-color;
            outline : none;
            display: inline-block;
            vertical-align: middle;
        }
    
    .add_shoppinglist {
            width: 60%;
            margin: 2% auto 3%;
            text-align: center;
    }

        .add_shopping_amount_form {
            display: block;
            width: 150px;
            padding: 0;
            margin: 1% auto;
            border: none;
            border-bottom: dotted 0.5px #808080;
            font-size: 16px;
            transition: all 0.3s;
            &:focus, &:valid {
                background-position: 0 0;
                outline: none;
                ~label {
                top: -12px;
                color: $color;
                font: 300 16px $base_font;
                }
            }
        }
    .shopping_select_date {
        color: $font-color;
        border: 1px solid #999;
        padding: 3px 5px;
        border-radius: 10px;
        height: 2.0em;
        width: 35%;
        overflow: hidden;
        &:focus {
            outline: 0;
            }
    }
