// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base_font: "丸明オールド";
$color: rgba(111, 239, 193, 0.28);
$font-color: #5F5F5F;

//login_form,new
.close_btn {
    color: $font-color;
    font-size: 2vw;
    margin: 0;
}

.account_table {
    background-color: #FFFFFF;
    width: 30%;
    height: 50%;
    margin: 10% auto;
    box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.403);
}
    .title_account {
        background: $color;
        margin: 0;
        padding: 8px;
        color: $font-color;
        font: 400 3vmin $base_font;
        text-align: center;
      
        span {
        display: block;
        width: 26px; 
        height: 26px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        transition: .2s;    
        &:hover {
            background-color: rgba(white, .2);     }
        }
    }
    //アカウントフォーム
    .account_form {
        width: 80%;
        margin: 5% 18%;
        overflow: scroll;
        -ms-overflow-style: none;
    }
    //ラベル
    .label {
        display: inline-block;
        width: 20%;
        margin: 0 3%;
        font: 400 2vmin $base_font;
        color: $font-color;
    }
    //入力欄
    .input,.password_input {
        display: inline-block;
        width: 50%;
        padding: 5px 0;
        margin: 5% auto;
        border: none;
        border-bottom: dotted 1px $font-color;
        font-size: 3vmin;
    }
    .account_form_btn,.login_btn{
        display: block;
        background: $color;
        width: 80%;
        height: 35%;
        padding: 5% 3%;
        margin: 20% 0;
        border: none;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        color: $font-color;
        font-size: 2vmin;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover { 
            transform: translateY(-3px);
        }
    }


//edit,show

//ユーザー設定
.user_date {
    width: 60%;
    margin: 5% 20%;
    position: relative;
}

//ユーザーラベル
.user_date_label {
    display: inline-block;
    font: 700 2vw $base_font;
    width: 80%;
    margin: 5% auto;
}

//編集、削除ボタン
.edit_btn,.delete_btn{
    display: inline-block;
    background: $color;
    width: 100%;
    height: 10%;
    margin: 3% auto;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover { 
        transform: translateY(-3px);
    }
}

.update_btn{
    display: block;
    background: $color;
    width: 80%;
    height: 35%;
    padding: 5% 7%;
    margin: 10% 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    color: white;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover { 
        transform: translateY(-3px);
    }
}



