// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base_font: Times, "Times New Roman", Georgia, serif;
$color: rgba(111, 239, 193, 0.28);
$link-color: rgba(78, 154, 126, 0.356);
$titlebar_color: rgba(72, 155, 125, 0.551);
$font-color: #5F5F5F;

.account_form {
    width: 70%;
    margin: 2% auto;
    text-align: center;
}
    .label {
        display: inline-block;
        width: 20%;
        margin: 0 3%;
        font: 400 16px $base_font;
        color: $font-color;
    }
    .input,.password_input {
        display: inline-block;
        width: 70%;
        padding: 5px 0;
        margin: 5% auto;
        border: none;
        border-bottom: dotted 1px $font-color;
        font:200 16px $base_font;
        color: $font-color;
    }
    .user_form_btn{
        display: inline-block;
        background: $link-color;
        width: 50%;
        padding: 2% 0;
        margin: 5% 25%;
        border: none;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        color: $font-color;
        font: 200 16px $base_font;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover { 
            transform: translateY(-3px);
        }
    }

//edit,show
.account_show_main {
    width: 60%;
    margin:  3% auto;
}

.account_edit_main {
    width: 100%;
    margin:  5% auto;
    text-align: center;
}

    .user_date {
        width: 100%;
        margin: 2% auto;
    }

    .user_date_label {
        display: inline-block;
        font: 600 16px $base_font;
        color: $font-color;
        width: 80%;
        margin: 5% auto;
    }

    .show_list {
        width: 80%;
        margin: 1% auto 10%;

    }

    .show_list_link{
        display: inline-block;
        background: $link-color;
        width: 100%;
        height: 20%;
        margin: 3% auto;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        color: $font-color;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover { 
            transform: translateY(-3px);
        }
    }

    .note {
        display: block;
        font:100 10px $base_font;
        color: $font-color;
        text-align: center;
        width: 90%;
        margin: 3% auto;
    }