// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-error {
    color:red
}

.page_title{
    font-size: 25px;
    font-weight:bold;
    color:olivedrab;
    text-align: center;
}

.input_form {
    font-size: 15px;
    font-weight:bold;
    color:grey;
    text-align: center;
}

.form_table {
    width: 500px;
    margin: 0 auto;
}

.form_btn{
    border:solid 1px #bdb76b;
    padding:5px 100px;
    margin:20px 0 10px;
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    color:white;
    background-color: #bdb76b;
}

input[type="text"] {
    width: 250px;
    height: 15px;
}

input[type="password"] {
    width: 250px;
    height: 15px;
}

 